body {
  background-color: #c0c0c0;
  font-family: verdana;
}
nav {
  background-color: #8dc63f;
  padding:0.5em;
  margin: -0.5em;
  font-weight:bold;
  font-size:1.2em;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
  margin-right: 1.5em;
}
a {
  text-decoration:none;
  color: #000;
}
p {
  margin-left: 1em;
}
p a {
  color: blue;
  text-decoration: underline;
}